In [16]:
import dhlab as dh
import pandas as pd
import dhlab.api.dhlab_api as api

In [2]:
c = dh.Corpus(doctype="digibok", from_year =2000, limit = 100)

In [4]:
chnk = dh.Chunks(urn = c.corpus.urn[5])

In [7]:
cnt = dh.Counts(corpus = c)

In [12]:
chnk = pd.DataFrame(chnk.chunks).transpose().fillna(0)

In [13]:
chnk

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
",",38.0,36.0,33.0,35.0,47.0,30.0,33.0,32.0,29.0,45.0,...,32.0,32.0,36.0,36.0,31.0,113.0,31.0,171.0,42.0,34.0
-,2.0,2.0,5.0,0.0,3.0,2.0,9.0,3.0,5.0,8.0,...,4.0,1.0,2.0,1.0,6.0,21.0,3.0,0.0,8.0,2.0
.,52.0,56.0,48.0,62.0,51.0,50.0,54.0,51.0,45.0,47.0,...,47.0,58.0,48.0,50.0,60.0,100.0,56.0,0.0,60.0,61.0
200,1.0,0.0,0.0,0.0,5.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vesen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
viking,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
vinkler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
østeuropeere,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
østover,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
api.geo_lookup??

Signature:
api.geo_lookup(
    places: List,
    feature_class: str = None,
    feature_code: str = None,
    field: str = 'alternatename',
) -> pandas.core.frame.DataFrame
Source:
def geo_lookup(
        places: List,
        feature_class: str = None,
        feature_code: str = None,
        field: str = "alternatename",
) -> DataFrame:
    """From a list of places, return their geolocations

    :param list places: a list of place names - max 1000
    :param str feature_class: which GeoNames feature class to return. Example: ``P``
    :param str feature_code: which GeoNames feature code to return. Example: ``PPL``
    :param str field: which name field to match - default "alternatename".
    """
    res = requests.post(
        f"{BASE_URL}/geo_data",
        json={
            "words": places,
            "feature_class": feature_class,
            "feature_code": feature_code,
            "field": field,
        },
    )
    columns = [
        "geonameid",
        "name",
        "alternatename",
        "latitude",
        "longitude",
        "feature_class",
        "feature_code",
    ]
    return pd.DataFrame(res.json(), columns=columns)
File:      ~/anaconda3/lib/python3.9/site-packages/dhlab/api/dhlab_api.py
Type:      function

In [25]:
api.geo_lookup(places = ["Å"], field="name")

,geonameid,name,alternatename,latitude,longitude,feature_class,feature_code
0,2727765,Å,,58.50000,16.51667,S,CH
1,3163611,Å,,59.49134,8.25386,S,FRM
2,11746534,Å,,62.98495,9.73801,P,PPL

In [26]:
api.geo_lookup(places = ["Å", "Nidaros"], field="alternatename")

,geonameid,name,alternatename,latitude,longitude,feature_class,feature_code
0,3133880,Trondheim,Nidaros,63.43049,10.39506,P,PPLA2
1,2625079,Aa,Å,55.21642,9.97874,P,PPL
2,3131150,"Å, Moskenes",Å,67.88333,12.98333,P,PPL
3,3163604,Aa,Å,69.07942,16.99954,P,PPL
4,3163605,Aa,Å,69.05000,15.88333,P,PPL
5,3163606,Aa,Å,68.78334,17.78395,P,PPL
6,3163607,Åfjord,Å,63.96910,10.22065,P,PPL
7,3163608,Å i Åfjord,Å,63.96068,10.22468,P,PPL
8,3163609,Aen,Å,62.98333,9.75000,P,PPL
9,3163610,Aa,Å,68.83333,17.18333,S,FRM